[submodule "scripts/ArknightsGameData"]
	path = scripts/ArknightsGameData
	url = https://github.com/Kengxxiao/ArknightsGameData
[submodule "scripts/AN-EN-Tags"]
	path = scripts/AN-EN-Tags
	url = https://github.com/Aceship/AN-EN-Tags
