[submodule "scripts/ArknightsGameData"]
	path = scripts/ArknightsGameData
	url = https://github.com/Kengxxiao/ArknightsGameData
[submodule "scripts/Arknight-Images"]
	path = scripts/Arknight-Images
	url = https://github.com/Aceship/Arknight-Images
